#include "json.hpp"

{%- for include in includes %}
#include "{{ include.name }}"
{%- endfor %}

using json = nlohmann::json;

/*

{% if comments %}
{%- for comment in comments %}
{{ comment }}
{%- endfor %}
{%- endif %}

*/

json to_JSON_{{struct_name}}(const {{struct_name}}_t& obj) {
    json j;

    switch (obj.present) {
        case {{struct_name}}_PR_NOTHING:
            j = nullptr;
            break;
        {% for choice in choices %}
        case {{struct_name}}_PR_{{choice.name}}:
            {% if choice.type =="simple" %}
            j["{{choice.name}}"] = to_JSON_{{choice.struct_name}}(obj.choice.{{choice.name}});
            break;
            {% else %}
            {{ choice.custom_code.json | indent(12)}}
            break;
            {% endif %}
        {% endfor %}
        default:
            j = nullptr;
            break;
    }

    return j;
}


{{struct_name}}_t to_STRUCT_{{struct_name}}(const json& j) {
    {{struct_name}}_t obj;

    if (j.is_null()) {
        obj.present = {{struct_name}}_PR_NOTHING;
        return obj;
    }

    if (j.contains("{{choices[0].name}}")) {
        obj.present = {{struct_name}}_PR_{{choices[0].name}};
        obj.choice.{{choices[0].name}} = to_STRUCT_{{choices[0].struct_name}}(j["{{choices[0].name}}"]);
    } 
    {% for choice in choices[1:] %}
    else if (j.contains("{{choice.name}}")) {
        obj.present = {{struct_name}}_PR_{{choice.name}};
        obj.choice.{{choice.name}} = to_STRUCT_{{choice.struct_name}}(j["{{choice.name}}"]);
    }
    {% endfor %}

    return obj;
}
