

cJSON* {{struct_name}}_to_json(const {{ struct_name }}_t* obj) {
    if (!obj) return NULL;

    cJSON* json = cJSON_CreateObject();

    switch(obj.present){
        case 
    }

    return json;
}