#include "json.hpp"

{%- for include in includes %}
#include "{{ include.name }}"
{%- endfor %}

using json = nlohmann::json;

/*

{% if comments %}
{%- for comment in comments %}
{{ comment }}
{%- endfor %}
{%- endif %}

*/

json to_JSON_{{function_name}}(const {{struct_name}}& obj) {
    json j;

    switch (obj.present) {
        case {{function_name}}_PR_NOTHING:{
            j = nullptr;
            break;
        }
        {% for choice in choices %}
        case {{function_name}}_PR_{{choice.name}}:{
            {% if choice.item_type =="complex" %}
            j["{{choice.name}}"] = to_JSON_{{choice.function_name}}(obj.choice.{{choice.name}});
            break;
            {% elif choice.item_type == "sequence_of" %}
            json j_{{choice.name}}= json::array();

            for(int i=0;i<obj.choice.{{choice.name}}.list.count;++i){
                j_{{choice.name}}.push_back(to_JSON_{{choice.element_function_name}}(*(obj.choice.{{choice.name}}.list.array[i])));
            }
            j["{{choice.name}}"] = j_{{choice.name}};

            break;
            {% endif %}
        }
        {% endfor %}
        default:
            j = nullptr;
            break;
    }

    return j;
}


{{struct_name}} to_STRUCT_{{function_name}}(const json& j) {
    {{struct_name}} obj;

    if (j.is_null()) {
        obj.present = {{function_name}}_PR_NOTHING;
        return obj;
    }

    {% for choice in choices %}
    {% if choice.item_type == "complex" %}
    else if (j.contains("{{choice.name}}")) {
        obj.present = {{function_name}}_PR_{{choice.name}};
        obj.choice.{{choice.name}} = to_STRUCT_{{choice.function_name}}(j["{{choice.name}}"]);
    }
    {% elif choice.item_type == "sequence_of" %}
    else if (j.contains("{{choice.name}}")) {
        obj.present = {{function_name}}_PR_{{choice.name}};
        obj.choice.{{choice.name}}.list.count = j["{{choice.name}}"].size();
        obj.choice.{{choice.name}}.list.array = new {{choice.element_struct_name}}*[obj.choice.{{choice.name}}.list.count];

        for(int i=0;i<obj.choice.{{choice.name}}.list.count;++i){
            obj.choice.{{choice.name}}.list.array[i] = new {{choice.element_struct_name}}(to_STRUCT_{{choice.element_function_name}}(j["{{choice.name}}"][i]));
        }
    }
    {% endif %}
    {% endfor %}

    return obj;
}
