json j_{{name}};

switch (obj.{{name}}.present) {
    case {{struct_name}}_PR_NOTHING:
        j_{{name}} = nullptr;
        break;
    {% for choice in choices %}
    case {{struct_name}}_PR_{{choice.name}}:
        j_{{name}}["{{choice.name}}"] = to_JSON_{{choice.struct_name}}(obj.{{name}}.choice.{{choice.name}});
        break;
    {% endfor %}
    default:
        j_{{name}} = nullptr;
        break;
}

j["{{name}}"]=j_{{name}};
### code break ###
if (j["{{name}}"].is_null()) {
    obj.{{name}}.present = {{struct_name}}_PR_NOTHING;
}
else if (j["{{name}}"].contains("{{choices[0].name}}")) {
    obj.{{name}}.present = {{struct_name}}_PR_{{choices[0].name}};
    obj.{{name}}.choice.{{choices[0].name}} = to_STRUCT_{{choices[0].struct_name}}(j["{{choices[0].name}}"]);
} 
{%- for choice in choices[1:] %}
else if (j["{{name}}"].contains("{{choice.name}}")) {
    obj.{{name}}.present = {{struct_name}}_PR_{{choice.name}};
    obj.{{name}}.choice.{{choice.name}} = to_STRUCT_{{choice.struct_name}}(j["{{choice.name}}"]);
}
{% endfor -%}