json j_{{name}}=json::array();

for(int i=0;i<obj.{{name}}.list.count;++i){
    j_{{name}}.push_back(to_JSON_{{element_name}}(*obj.{{name}}.list.array[i]));
}
j["{{name}}"]=j_{{name}};
### code break ###
obj.{{name}}.list.count = j["{{name}}"].size();
obj.{{name}}.list.array = new {{element_name}}_t*[obj.{{name}}.list.count];

for(int i=0;i<obj.{{name}}.list.count;++i){
    obj.{{name}}.list.array[i] = new {{element_name}}_t(to_STRUCT_{{element_name}}(j["{{name}}"][i]));
}

