

const char* {{struct_name}}_to_string({{struct_name}}_t obj){
    switch(obj){
        {%- for member in members %}
        case {{struct_name }}_{{ member.name}}: return "{{member.name}}";
        {%- endfor %}
        default: return "unknown";  // for extensibility
    }
    
};


cJSON* {{ struct_name}}_to_json(const {{ struct_name}}_t* obj) {
    if(!obj) return cJSON_CreateNull();
    return cJSON_CreateString({{struct_name}}_to_string(*obj));
}
