#pragma once

#include "json.hpp"  
#include "{{include_name}}"

nlohmann::json to_JSON_{{function_name}}(const {{struct_name}}& obj);
{{struct_name}} to_STRUCT_{{function_name}}(const nlohmann::json& j);