{
  "message": {
    "type": "{{ type_name }}",
    "description": "{{ description }}",
    "fields": [
      {% for field in fields %}
      {
        "name": "{{ field.name }}",
        "type": "{{ field.type }}",
        "optional": {{ field.optional | tojson }},
        "default": {{ field.default | tojson }}
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
}