#include "json.hpp"
#include "{{include_name}}.h"

{%- for include in includes %}
#include "{{ include.name }}"
{% endfor %}

using json = nlohmann::json;

/*
{% if comments %}
{%- for comment in comments %}
{{ comment }}
{%- endfor %}
{%- endif %}
*/

json to_JSON_{{struct_name}}(const {{struct_name}}_t& obj) {
   return json(obj);
}

{{struct_name}}_t to_STRUCT_{{struct_name}}(const json& j) {
    return j.get<{{struct_name}}_t>();
}

