

cJSON* {{ struct_name}}_to_json(const {{ struct_name }}_t* obj) {
    cJSON* json = cJSON_CreateObject();
    if (!json) return NULL;

    {% for member in members %}
    {%- if member.type == 'simple' %}
    {%- if member.is_optional %}
    if (obj->{{ member.name }} != NULL) {
        {{member.function_name}}(json, "{{ member.name }}", {{member.data_type}}obj->{{ member.name }});
    }
    {%- else %}
    {{member.function_name}}(json, "{{ member.name }}", {{member.data_type}}obj->{{ member.name }});
    {%- endif %}
    {%- elif member.type == 'complex' %}
    {%- if member.is_optional %}
    if (obj->{{ member.name }} != NULL) {
        cJSON* {{ member.name }}_json = {{  member.struct_name }}_to_json(&obj->{{ member.name }});
        {{member.function_name}}(json, "{{ member.name }}", {{ member.name }}_json);
    }
    {%- else %}
    cJSON* {{ member.name }}_json = {{  member.struct_name }}_to_json(&obj->{{ member.name }});
    {{member.function_name}}(json, "{{ member.name }}", {{ member.name }}_json);
    {%- endif %}
    {%- endif %}
    {% endfor %}
    return json;
}
