{
  "type": "object",
  "properties": {
    "name": {
      "type": "string",
      "description": "Name of the choice type"
    },
    "description": {
      "type": "string",
      "description": "Description of the choice type"
    },
    "options": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "optionName": {
            "type": "string",
            "description": "Name of the option"
          },
          "optionValue": {
            "type": "string",
            "description": "Value of the option"
          }
        },
        "required": ["optionName", "optionValue"]
      }
    }
  },
  "required": ["name", "options"]
}